/* #container-main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto 1fr 2rem;
    grid-auto-rows: auto;
    min-height: 100vh;
}

header {
    grid-area: 1 / 1 / span 1 / span 12;
}

main {
    grid-area: 2 / 1 / span 1 / span 12;
}

footer {
    grid-area: 3 / 1 / span 1 / span 12;
} */

body, html {
	height: 100%;
	margin: 0;
	padding: 0.5rem;
	background-image: url('/assets/images/our-guy-bkg.jpg');
	background-position: center;
	font-size: 1.25rem;
	font-family: 'Lora' serif;
	color: yellow;
}

h1 {
    font-size: 4.5rem;
    margin: 1rem 0.5rem;
	background-color: #370bc3;
	color: yellow;
	font-style: italic;
	text-align: center;
}

h1 span {
	display: inline-block;
}

#button-list {
	padding: 1rem 1rem 2rem 1rem;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	height: 75vh;
	padding-bottom: 120px;
}

#button-list button {
	margin: 1rem 0;
	padding: 1.5rem 1rem;
	background-color: transparent;
	border: 1px solid yellow;
	font-size: 2rem;
	color: yellow;
	font-family: Lora serif;
	transition: all 0.1s linear;
}

#button-list button:hover {
	cursor: pointer;
}

#button-list button.playing {
	background-color: #370bc3;
	border-color: #370bc3;
}

footer p {
	text-align: center;
	padding: 2rem;
}