body, html {
	height: 100%;
	margin: 0;
	padding: 0.5rem;
	background-image: url('/assets/images/our-guy-bkg.jpg');
	background-position: center;
	background-size: contain;
	font-size: 1.25rem;
	font-family: 'Lora' serif;
	color: yellow;
}

h1 {
    font-size: 2.2rem;
    padding: 0.5rem;
	margin-top: 0;
	margin-bottom: 1rem;
	background-color: #370bc3;
	color: yellow;
	font-style: italic;
	text-align: center;
}

h1 span {
	display: inline-block;
}

#button-list {
	padding: 1rem 1rem 2rem 1rem;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	height: 75vh;
	padding-bottom: 120px;
}

#button-list button {
	margin: 0.25rem 0;
	padding: 0.5rem 1rem;
	background-color: transparent;
	border: 1px solid yellow;
	font-size: 1rem;
	color: yellow;
	font-family: Lora serif;
	transition: all 0.1s linear;
}

#button-list button:hover {
	cursor: pointer;
}

#button-list button.playing {
	background-color: #370bc3;
	border-color: #370bc3;
}

footer p {
	text-align: center;
	padding: 2rem;
}

@media only screen and (min-width: 590px) {
	#button-list {
		max-width: 50%;
		margin: auto;
	}
}